In [3]:
import pandas as pd

In [26]:
df = pd.read_csv("sp500_ohlcv_2005_2025_2.csv")

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2531599 entries, 0 to 2531598
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   Date    object
 1   Ticker  object
 2   Open    float64
 3   High    float64
 4   Low     float64
 5   Close   float64
 6   Volume  float64
dtypes: float64(5), object(2)
memory usage: 135.2+ MB

In [28]:
df.isna().sum()

Date           0
Ticker         0
Open      227159
High      227159
Low       227159
Close     227159
Volume    227159
dtype: int64

In [32]:
# df: DataFrame avec une colonne 'ticker'
cols = df.columns.difference(['Ticker'])

# True si un ticker a au moins un NaN sur n'importe quelle ligne/colonne
has_any_nan_by_ticker = df[cols].isna().any(axis=1).groupby(df['Ticker']).any()

# Tickers à garder (ceux qui n'ont jamais de NaN)
tickers_ok = has_any_nan_by_ticker[~has_any_nan_by_ticker].index
tickers_nok = has_any_nan_by_ticker[has_any_nan_by_ticker].index

# DataFrame filtrée
df_clean = df[df['Ticker'].isin(tickers_ok)].copy()
df_dirty = df[df['Ticker'].isin(tickers_nok)].copy()

In [33]:
df["Ticker"].nunique()

503

In [41]:
df_clean["Ticker"].unique()

array(['MMM', 'AOS', 'ABT', 'ACN', 'ADBE', 'AMD', 'AES', 'AFL', 'A',
       'APD', 'AKAM', 'ALB', 'ARE', 'ALGN', 'LNT', 'ALL', 'GOOGL', 'GOOG',
       'MO', 'AMZN', 'AEE', 'AEP', 'AXP', 'AIG', 'AMT', 'AME', 'AMGN',
       'APH', 'ADI', 'AON', 'APA', 'AAPL', 'AMAT', 'ACGL', 'ADM', 'AJG',
       'AIZ', 'T', 'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY', 'AXON',
       'BKR', 'BALL', 'BAC', 'BAX', 'BDX', 'BRK-B', 'BBY', 'TECH', 'BIIB',
       'BLK', 'BK', 'BA', 'BKNG', 'BSX', 'BMY', 'BRO', 'BF-B', 'BG',
       'BXP', 'CHRW', 'CDNS', 'CPT', 'CPB', 'COF', 'CAH', 'KMX', 'CCL',
       'CAT', 'CBRE', 'COR', 'CNC', 'CNP', 'CRL', 'SCHW', 'CVX', 'CB',
       'CHD', 'CI', 'CINF', 'CTAS', 'CSCO', 'C', 'CLX', 'CME', 'CMS',
       'KO', 'CTSH', 'CL', 'CMCSA', 'CAG', 'COP', 'ED', 'STZ', 'COO',
       'CPRT', 'GLW', 'CSGP', 'COST', 'CTRA', 'CCI', 'CSX', 'CMI', 'CVS',
       'DHR', 'DRI', 'DVA', 'DECK', 'DE', 'DVN', 'DLR', 'DLTR', 'D',
       'DPZ', 'DOV', 'DHI', 'DTE', 'DUK', 'DD', 'EMN', 'ETN', 'EBAY',
       'ECL', 'EIX', 'EW', 'EA', 'ELV', 'EME', 'EMR', 'ETR', 'EOG', 'EQT',
       'EFX', 'EQIX', 'EQR', 'ERIE', 'ESS', 'EL', 'EG', 'EVRG', 'ES',
       'EXC', 'EXPD', 'EXR', 'XOM', 'FFIV', 'FDS', 'FICO', 'FAST', 'FRT',
       'FDX', 'FIS', 'FITB', 'FE', 'FI', 'F', 'BEN', 'FCX', 'GRMN', 'IT',
       'GE', 'GEN', 'GD', 'GIS', 'GPC', 'GILD', 'GPN', 'GL', 'GS', 'HAL',
       'HIG', 'HAS', 'DOC', 'HSIC', 'HSY', 'HOLX', 'HD', 'HON', 'HRL',
       'HST', 'HPQ', 'HUBB', 'HUM', 'HBAN', 'IBM', 'IEX', 'IDXX', 'ITW',
       'INCY', 'INTC', 'IFF', 'IP', 'IPG', 'INTU', 'ISRG', 'IVZ', 'IRM',
       'JBHT', 'JBL', 'JKHY', 'J', 'JNJ', 'JCI', 'JPM', 'K', 'KEY', 'KMB',
       'KIM', 'KLAC', 'KR', 'LHX', 'LH', 'LRCX', 'LVS', 'LEN', 'LII',
       'LLY', 'LIN', 'LKQ', 'LMT', 'L', 'LOW', 'MTB', 'MAR', 'MMC', 'MLM',
       'MAS', 'MTCH', 'MKC', 'MCD', 'MCK', 'MDT', 'MRK', 'MET', 'MTD',
       'MGM', 'MCHP', 'MU', 'MSFT', 'MAA', 'MHK', 'MOH', 'TAP', 'MDLZ',
       'MPWR', 'MNST', 'MCO', 'MS', 'MOS', 'MSI', 'NDAQ', 'NTAP', 'NFLX',
       'NEM', 'NEE', 'NKE', 'NI', 'NDSN', 'NSC', 'NTRS', 'NOC', 'NRG',
       'NUE', 'NVDA', 'NVR', 'ORLY', 'OXY', 'ODFL', 'OMC', 'ON', 'OKE',
       'ORCL', 'PCAR', 'PKG', 'PH', 'PAYX', 'PNR', 'PEP', 'PFE', 'PCG',
       'PNW', 'PNC', 'POOL', 'PPG', 'PPL', 'PFG', 'PG', 'PGR', 'PLD',
       'PRU', 'PEG', 'PTC', 'PSA', 'PHM', 'PWR', 'QCOM', 'DGX', 'RL',
       'RJF', 'RTX', 'O', 'REG', 'REGN', 'RF', 'RSG', 'RMD', 'RVTY',
       'ROK', 'ROL', 'ROP', 'ROST', 'RCL', 'SPGI', 'CRM', 'SBAC', 'SLB',
       'STX', 'SRE', 'SHW', 'SPG', 'SWKS', 'SJM', 'SNA', 'SO', 'LUV',
       'SWK', 'SBUX', 'STT', 'STLD', 'STE', 'SYK', 'SNPS', 'SYY', 'TROW',
       'TTWO', 'TPR', 'TGT', 'TDY', 'TER', 'TXN', 'TPL', 'TXT', 'TMO',
       'TJX', 'TKO', 'TSCO', 'TT', 'TRV', 'TRMB', 'TFC', 'TYL', 'TSN',
       'USB', 'UDR', 'UNP', 'UPS', 'URI', 'UNH', 'UHS', 'VLO', 'VTR',
       'VRSN', 'VZ', 'VRTX', 'VTRS', 'VMC', 'WRB', 'GWW', 'WAB', 'WMT',
       'DIS', 'WM', 'WAT', 'WEC', 'WFC', 'WELL', 'WST', 'WDC', 'WY',
       'WSM', 'WMB', 'WTW', 'WYNN', 'XEL', 'YUM', 'ZBRA', 'ZBH'],
      dtype=object)

In [39]:
df_dirty["Ticker"].unique()

array(['ABBV', 'ABNB', 'ALLE', 'AMCR', 'AWK', 'AMP', 'APO', 'APP', 'APTV',
       'ANET', 'BX', 'XYZ', 'AVGO', 'BR', 'BLDR', 'CARR', 'CBOE', 'CDW',
       'CF', 'CHTR', 'CMG', 'CFG', 'COIN', 'CEG', 'CPAY', 'CTVA', 'CRWD',
       'DDOG', 'DAY', 'DELL', 'DAL', 'DXCM', 'FANG', 'DG', 'DASH', 'DOW',
       'EPAM', 'EXE', 'EXPE', 'FSLR', 'FTNT', 'FTV', 'FOXA', 'FOX',
       'GEHC', 'GEV', 'GNRC', 'GM', 'GDDY', 'HCA', 'HPE', 'HLT', 'HWM',
       'HII', 'IR', 'PODD', 'IBKR', 'ICE', 'INVH', 'IQV', 'KVUE', 'KDP',
       'KEYS', 'KMI', 'KKR', 'KHC', 'LW', 'LDOS', 'LYV', 'LULU', 'LYB',
       'MPC', 'MA', 'META', 'MRNA', 'MSCI', 'NWSA', 'NWS', 'NCLH', 'NXPI',
       'OTIS', 'PLTR', 'PANW', 'PSKY', 'PAYC', 'PYPL', 'PM', 'PSX',
       'HOOD', 'NOW', 'SW', 'SOLV', 'SMCI', 'SYF', 'TMUS', 'TRGP', 'TEL',
       'TSLA', 'TTD', 'TDG', 'UBER', 'ULTA', 'UAL', 'VLTO', 'VRSK',
       'VICI', 'V', 'VST', 'WBD', 'WDAY', 'XYL', 'ZTS'], dtype=object)

In [48]:
df[df["Ticker"] == 'ABNB']

,Date,Ticker,Open,High,Low,Close,Volume
55363,2005-01-03,ABNB,NaN,NaN,NaN,NaN,NaN
55364,2005-01-04,ABNB,NaN,NaN,NaN,NaN,NaN
55365,2005-01-05,ABNB,NaN,NaN,NaN,NaN,NaN
55366,2005-01-06,ABNB,NaN,NaN,NaN,NaN,NaN
55367,2005-01-07,ABNB,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
60391,2024-12-24,ABNB,134.330002,135.070007,132.830002,134.990005,1677100.0
60392,2024-12-26,ABNB,134.240005,136.270004,134.240005,135.320007,2067000.0
60393,2024-12-27,ABNB,133.589996,134.500000,132.160004,133.384995,2650100.0
60394,2024-12-30,ABNB,131.309998,132.610001,129.850006,131.809998,2458800.0
60395,2024-12-31,ABNB,132.460007,133.190002,131.270004,131.410004,2312300.0